@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-SansPro;
  }
}

@layer utilities {
  .bg-clip-even {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }
  .bg-clip-odd {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
  .bg-clip-solid {
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
  }

  @media (max-width: 768px) {
    .bg-clip-even {
      clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    }
    .bg-clip-odd {
      clip-path: polygon(0 0, 100% 3%, 100% 97%, 0 100%);
    }
    .bg-clip-solid {
      clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
    }
  }
  .page-container {
    @apply mx-auto max-w-[1140px];
  }
}
