@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-SansPro;
  }
}

@layer utilities {
  .space-y-article {
    @apply space-y-[16px] lg:space-y-[26px];
  }
  .bg-clip-hero-image {
    clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
  }
  .bg-clip-hero-container {
    clip-path: none;
  }

  @media (min-width: 1280px) {
    .bg-clip-hero-container {
      clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    }
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    .bg-clip-hero-container {
      clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }
  }
}
