@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-SansPro;
  }
}

@layer utilities {
  .space-y-article {
    @apply space-y-[16px] lg:space-y-[26px];
  }

  .bg-clip-hero-container {
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
  }
  .bg-clip-hero-image {
    clip-path: polygon(72% 0, 100% 0, 100% 100%, 0 100%);
  }

  @media (max-width: 768px) {
    .bg-clip-hero-container {
      clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    }
  }
  .page-container {
    @apply mx-auto max-w-[1140px];
  }
}
