---
import FeaturedContent from '@/components/FeaturedContent.svelte';
import Hero from '@/components/hero/Hero.svelte';
import Layout from '@/layouts/Layout.astro';
import { getPageData } from '@/lib/helpers';
import type { AboutPageData } from '@/lib/types/aboutPage';
import { picture } from 'astro-sanity-picture';

const query = `*[_type == 'aboutPage'][0]{
    ...,
    sections[]{
      ...,
      ${picture('image')},
    }
}`;

const data = await getPageData<AboutPageData>(query, {
  locale: 'en-SG',
  defaultLocale: 'en-SG',
});

const { page, site } = data;
const { sections, seo } = page;
---

<Layout seo={seo} site={site}>
  <!-- TODO remove the div later -->
  <div class="pb-60">
    {
      sections.map((section) => {
        switch (section._type) {
          case 'common.hero':
            return <Hero client:load {...(section as CommonHeroData)} />;
          case 'common.featured':
            return (
              <FeaturedContent
                client:idle
                {...(section as CommonFeaturedContentData)}
              />
            );
          default:
            return null;
        }
      })
    }
  </div>
</Layout>
