---
// import PortableText from '@/components/PortableText.astro';
// import type { Hero } from '@/lib/types/homePage';

// const { title, contentList } = Astro.props as Hero;
---

<section>Hero Section</section>
