---
// import PortableText from '@/components/PortableText.astro';
// import type { Hero } from '@/lib/types/homePage';

// const { title, contentList } = Astro.props as Hero;
---

<section
  class="grid h-[500px] place-items-center bg-black text-head-3 text-white"
>
  Hero Section
</section>
