---
import type { LegacyToEfficiencyData } from '@/lib/types/homePage';
const { title, subtitle, flowDiagram, description, businessSolutions } =
  Astro.props as LegacyToEfficiencyData;
---

<section>
  <h2>{title}</h2>
</section>

<script
  define:vars={{ title, subtitle, flowDiagram, description, businessSolutions }}
>
  console.log(title, subtitle, flowDiagram, description, businessSolutions);
</script>
