---
export type { Props } from 'astro-portabletext/types';
const props = Astro.props;
const markDef = props.node.markDef;
---

<a
  class:list={[
    markDef.hoverEffect &&
      'hover:text-blue-primary/80 transition-colors duration-200 ease-linear',
    markDef.highlight && 'text-theme-primary',
  ]}
  href={markDef?.href}
  ><slot />
</a>
