---
import '@fontsource/montserrat/600.css';
import '@fontsource/source-sans-pro';
import BaseMeta from '@/components/BaseMeta.astro';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';

export interface Props {
  seo?: BaseMetaData;
  favicon: string;
}

const { seo, favicon } = Astro.props;
---

<html lang="en">
  <head>
    <BaseMeta {...seo} />
    <GoogleAnalytics />
    <!-- some other scripts comes here -->
    <link rel="icon" type="image/png" href={favicon} />
  </head>
  <body class="overflow-x-hidden">
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
