---
import '@fontsource/montserrat';
import BaseMeta from '@/components/BaseMeta.astro';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';

export interface Props {
  seo?: BaseMetaData;
  favicon: string;
}

const { seo, favicon } = Astro.props;
---

<html class="font-sans" lang="en">
  <head>
    <BaseMeta {...seo} />
    <GoogleAnalytics />
    <!-- some other scripts comes here -->
    <link rel="icon" type="image/png" href={favicon} />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Source+Sans+Pro:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-x-hidden">
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
